@model IEnumerable<_4330Project.Models.Resource>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "DocumentTable";
}
@if (Request.IsAuthenticated)
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#myInput2").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#myInput3").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("#myInput4").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <h2>Add/Delete Documents</h2>

    <p id="p">
        @Html.ActionLink("Add Document", "Create")
    </p>

    <input id="myInput" type="text" placeholder="Keyword 1" color:black>
    <input id="myInput2" type="text" placeholder="Keyword 2" color:black>
    <input id="myInput3" type="text" placeholder="Keyword 3" color:black>
    <input id="myInput4" type="text" placeholder="Keyword 4" color:black>
    <p></p>

    <table class="table">
        <tr>
            <th>

            </th>

            <th nowrap>
                Document Name
            </th>
            <th nowrap>
                Word Cloud
            </th>
            <th>
                #1 Keyword
            </th>
            <th nowrap>
                #2 Keyword
            </th>
            <th nowrap>
                #3 Keyword
            </th>
            <th nowrap>
                #4 Keyword
            </th>
            <th nowrap>
                #5 Keyword
            </th>
            <th nowrap>
                #6 Keyword
            </th>
            <th nowrap>
                #7 Keyword
            </th>
            <th nowrap>
                #8 Keyword
            </th>
            <th nowrap>
                #9 Keyword
            </th>
            <th nowrap>
                #10 Keyword
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tbody id="myTable">
                <tr>
                    <td>



                        @*@Html.ActionLink("Edit", "Edit", new { id = item.id })*@

                        @Html.ActionLink("Delete", "Delete", new { id = item.id })


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doc_Name)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.WordCloudLink)*@
                        <a href=@item.WordCloudLink +@item.id style="color: dodgerblue">Link</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword6)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword7)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword8)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword9)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keyword10)
                    </td>


                </tr>
            </tbody>

        }
    </table>


    <style>
        .dont-break-out {
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        table, th, td {
            border: 1px solid white;
        }

        input {
            color: black;
        }


            input[type=text] {
                width: 15%;
                height: 10%;
                padding: 7px 7px;
                margin: 1px 8px;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
               
            }


        
   
    </style>
}