@model IEnumerable<_4330Project.Models.Resource>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "DocumentTable";
}
@if (Request.IsAuthenticated)
{
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <h2>Add/Delete Documents</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>
                Document Name
            </th>
            <th>
                Word Cloud
            </th>
            <th>
                #1 Keyword
            </th>
            <th nowrap>
                #2 Keyword
            </th>
            <th nowrap>
                #3 Keyword
            </th>
            <th nowrap>
                #4 Keyword
            </th>
            <th nowrap>
                #5 Keyword
            </th>
            <th nowrap>
                #6 Keyword
            </th>
            <th nowrap>
                #7 Keyword
            </th>
            <th nowrap>
                #8 Keyword
            </th>
            <th nowrap>
                #9 Keyword
            </th>
            <th nowrap>
                #10 Keyword
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>



                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id })*@

                    @Html.ActionLink("Delete", "Delete", new { id = item.id })


                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doc_Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.WordCloudLink)*@
                    <a href=@item.WordCloudLink +@item.id>Link</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword10)
                </td>


            </tr>
        }

    </table>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    @*<style>
            .dont-break-out {
                /* These are technically the same, but use both */
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        </style>*@
}