@model IEnumerable<_4330Project.Models.Resource>

@{
    ViewBag.Title = "Search";
}
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

@if (Request.IsAuthenticated)
{

    <h2>Search</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <body>

        <table class="table" id="ResourceTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Doc_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WordCloudLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword5)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword6)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword7)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword8)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword9)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Keyword10)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doc_Name)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.WordCloudLink)*@
                            <a href=@item.WordCloudLink style="color:dodgerblue">Link</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword5)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword6)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword7)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword8)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword9)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Keyword10)
                        </td>
                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }
            </tbody>

        </table>


        <style type="text/css">

            /* Background Color*/
            body {
                background: #fff !important;
                color: #000 !important;
            }
        </style>
    </body>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#ResourceTable').DataTable();
        });
    </script>
}