@model IEnumerable<_4330Project.Models.Resource>

@{
    ViewBag.Title = "ResourceSearch";
}

<h2>ResourceSearch</h2>

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="RTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doc_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keyword10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfKey1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doc_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfKey1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</body>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#RTable').DataTable();
    });
</script>
