@model _4330Project.Models.Resource

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doc_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KEYWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KEYWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIMES_REPEATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIMES_REPEATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
